doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Keywords' content='отель, бронь, номер, тег, гостиница')
    meta(name='description' content='Какая то игра')
    title Добро пожаловать в какую-то игру
    link(rel='icon' href=require('~Images/favicon.ico'))

    block style
      link(rel='stylesheet' href=require('~Styles/main-styles.scss'))
     

    



    block head
      script(src=require('../assets/js/libs.js'))
  body
    block content
    block script
