// @import url("https://fonts.googleapis.com/css?family=Homenaje");
@import "../../assets/styles/_vars.scss";
// $home: "Homenaje", sans-serif;

$color-dark: #1f1f1f;
$color-primary: #3f98da;
$color-secondary: #2f72a3;
$color-hightlight: #fbed56;

$color-success: #28a745;
$color-danger: #dc3545;

body {
  font-family: $mainFont, sans-serif;
}

.game {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  overflow: auto;
  // transform: translate(0, 0);
  row-gap: 1vh;
  justify-content: space-between;
  padding-bottom: 5px;
}

.board-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 200ms;
  opacity: 0;

  .board {
    display: flex;
    width: 100%;
    // margin-top: 15px;
    background-color: $color-primary;
    border-radius: 6px;
  }

  .main-board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    // display: none;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1.2vw;
  }

  .game-grid {
    display: flex;
    row-gap: 0.8vw;
    flex-direction: column;
    flex: 2;
    padding: 0 15px 25px;
  }

  .game-column {
    display: flex;
    column-gap: 0.8vw;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    justify-content: center;
  }

  .title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5vw;
    overflow: hidden;
    opacity: 0;
    border: 1px solid #fbed56;
    border-radius: 6px;
    height: 100%;
  }
  .title_active {
    opacity: 1;
    transition: all 1s;
    // cursor: auto;
  }

  .question-button-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    transition: all 400ms;
    &:hover {
      transform: scale(1.05);
      transition: all 400ms;

      .question-button {
        background-color: #a6ceeb;
        transition: all 400ms;
      }
    }
  }

  .question-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
    border-radius: 6px;
    // height: 100%;
    color: $color-hightlight;
    font-size: 2.8vw;
    transition: all 400ms;

    cursor: pointer;
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5vw;
}
.teams {
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  pointer-events: none;
  bottom: 0;
  height: auto;
  // margin-left: 5vw;
  // gap: 1vw;

  .board {
    pointer-events: auto;
  }

  .score-board,
  .answer-board {
    box-sizing: border-box;
    width: 15vw;
  }

  .score-board {
    // font-family: $home;
    background-color: #a0adad;
    padding: 0.7vw;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .the-score {
      background-color: white;
      text-align: center;
      padding: 0.3vw 0.6vw;
      font-size: 1.6vw;
    }
  }

  .answer-board {
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    height: 5.5vh;

    .correct,
    .incorrect {
      width: 100%;
      height: 5.5vh;
      color: white;
      font-size: 1.4vw;
      padding: 0.4vw 1.2vw;
      cursor: pointer;
    }

    .correct {
      background-color: $color-success;
    }

    .incorrect {
      background-color: $color-danger;
    }
  }
}
.disable {
  pointer-events: none;
  filter: grayscale(100%);
  transition: all 400ms;
}

.see-answer-button {
  background-color: $color-hightlight;
  color: $color-secondary;
}

.continue-button {
  background-color: $color-success;
  color: white;
  padding: 1.2vw 0.5vw;

  font-size: 1.3vw;
}

.informations {
  display: none;
}
.team__name {
  display: flex;
  justify-content: center;
}
.name {
  color: #fbed56;
  font-size: 1.5vw;
  display: block;
  height: 100%;
  line-height: 2vh;
  width: min-content;
}

.questionWindow {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 50%;
  background-color: #1f1f1f;
  opacity: 0;
  transition: all 200ms;
}
.active {
  // display: block;
  display: flex;
  justify-content: space-evenly;
}
.questionWindow__wrap {
  transition: all 400ms;
  left: 3%;
  top: 0.5%;
  background-color: #edecff;
  width: 94vw;
  height: 100%;
  // border: 1px solid #0a0a0400;
  border-radius: 20px;
  padding: calc(5px + 1vw) 1.3vw;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: minmax(2.2vw, 10%) minmax(10%, auto) minmax(10%, 15%);
  overflow: hidden;
}
// .questionWindow__qnum {
//   justify-content: center;
//   display: flex;
//   align-items: center;
//   grid-row: 1/2;
//   grid-column: 1/3;
// }
.btns {
  display: flex;
  justify-content: space-between;
  grid-row: 3/4;
  grid-column: 1/3;
}
.question {
  font-size: 0.9rem;

  justify-content: center;
  display: flex;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

.question__text {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  height: auto;
  font-size: 1rem;
  transition: all 400ms;
  line-height: 1em;
}
.questionWindow__text-wrap {
  // display: grid;
  // grid-template-columns: 60% 40%;
  height: 100%;
  // grid-template-rows: minmax(10%, 30%);
  align-items: center;
  grid-row: 2/3;
  padding: 10px 0px;
}

.quest-btn {
  width: 73vw;
}
.questionWindow__vars {
  grid-row: 3/4;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgb(10, 10, 4);
  border-radius: 20px;
  font-size: 1rem;
  transition: all 400ms;
  background: $gradientGreen;
}
.bag-div {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  max-height: 450px;
  img {
    margin-top: 3vh;
    max-width: 100%;
    max-height: 45vh;
  }
}
.invisible {
  display: none;
  // cursor: none;
}
.visible {
  transition: all 200ms;
  opacity: 1;
  // display: block;
}

.js-bag-answer {
  display: none;
}
.the-score {
  font-weight: bold;
}
.countdown {
  color: #fbed56;
  font-size: 4.5vw;
  width: 12vw;
  // height: 100px;
  align-items: center;
  pointer-events: all;
  display: flex;
  cursor: pointer;
}
.invisible-but-block {
  // opacity: 0;
  pointer-events: none;
  cursor: auto;
}

.next {
  min-width: 50px;
  width: 13vw;
  background: $gradient05;
}
.game-wrap {
  height: 100%;
  flex-shrink: 2;
}
@media all and (min-width: 480px) {
  .question,
  .questionWindow__vars {
    font-size: 1.2rem;
  }
  .question__text {
    font-size: 1.5rem;
  }
  .questionWindow__wrap {
    border-radius: 40px;
  }
  .name {
    width: auto;
  }
}
@media all and (min-width: 640px) {
  .question,
  .questionWindow__vars {
    font-size: 1.5rem;
  }
  .question__text {
    font-size: 1.75rem;
  }
}
@media all and (min-width: 800px) {
  .question,
  .questionWindow__vars {
    font-size: 2rem;
  }
  .question__text {
    font-size: 2rem;
  }
}
@media all and (min-width: 1024px) {
  .question,
  .questionWindow__vars {
    font-size: 2.5rem;
  }
  .question__text {
    font-size: 2.5rem;
  }
  .game-wrap {
    height: 80%;
  }
}
@media all and (min-width: 1280px) {
  .question,
  .questionWindow__vars {
    font-size: 3rem;
  }
  .question__text {
    font-size: 2.8rem;
  }
}
@media all and (min-width: 1440px) {
  .question,
  .questionWindow__vars {
    font-size: 3.5rem;
  }
  .question__text {
    font-size: 3rem;
  }
}

@media all and (max-height: 680px) {
  .question,
  .questionWindow__vars {
    font-size: 2rem;
  }
  .question__text {
    font-size: 2rem;
  }
}

.js-quest-content {
  grid-column: 2/3;
  display: flex;
  align-items: center;

  img,
  video {
    object-fit: contain;
    height: 100%;
    padding: 1vh;
  }
  audio {
    // height: 100%;
    width: 100%;
    // min-width: 100px;
    min-height: 30px;
    margin: auto;
  }
}
// img {
//   // height: auto;
//   max-width: 100%;
//   max-height: 100vh;
//   min-height: 10%;
//   min-width: 10%;
// }
